$text-valid   = #480
$text-invalid = #f44
$text-warning = #f80

.validation-messages
	margin 0
	padding 0
	font-size .8rem
	text-align left

	li
		margin .6rem 1.2rem

	p
		margin .3rem 0

	.valid
		color $text-valid
	
	.invalid
		color $text-invalid

	.warning
		color $text-warning
